@import "reset-css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    background-color: $bg-color;
    font-family: Roboto;
    font-size: $normal-font-size;
}

img {
    max-width: 100%;
  }